<section class=" footer-section position-relative">
    <div class="position-relative max-width-1920">
      <div class="row max-width-1920 pt-3 pt-sm-0">
        <div class="col col-12 col-sm-5 d-flex flex-column align-items-center align-items-sm-start">
          <div class="d-flex flex-column align-items-center logo-container">
            <a href="/index.html">
              <img src="/assets/images/global/footer-lmi-logo.webp" alt="LMI Logo" data-aos="fade-right">
            </a>
            <p class="font-lato font-size-16 font-color-black text-center mt-2 letter-spacing-10" data-aos="fade-right">OVER 50 YEARS
              SERVING<br>THE BUILDING INDUSTRY</p>
          </div>
          
        </div>
        <div class="col col-sm-6 mt-3 mt-sm-0">
          <div class="row  gap-5 gap-md-0">
            <div class="col-12 col-md-4">
              <p class="font-size-24 font-color-black fw-bold text-center text-sm-start" data-aos="fade-right">Links</p>
              <div class="d-flex flex-column mt-4 gap-3 align-items-center align-items-sm-start">
                <a class="font-size-17 font-lato font-color-black text-decoration-none" href="/index.html" data-aos="fade-right">Home</a> <!-- Scroll transition -->
                <a class="font-size-17 font-lato font-color-black text-decoration-none " href="/html/about.html" data-aos="fade-right">About</a>
                <div class="dropdown m-0 products-dropdown">
                  <a class="btn btn-secondary dropdown-toggle ps-0 bg-transparent font-color-black font-lato font-size-17 border-0"
                      href="#"
                        role="button"
                          data-bs-toggle="dropdown"
                           aria-expanded="false"
                          data-aos="fade-right">
                        Products
                     </a>

                  <ul class="dropdown-menu font-size-16 p-0 rounded-0">
                    <li>
                      <a class="dropdown-item font-lato" href="/html/enclosures.html">Shower Enclosures</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-lato bg-secondary-subtle" href="/html/wardrobe-doors.html">Wardrobe
                        Doors</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-lato" href="/html/room-dividers.html">Room Dividers</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-lato bg-secondary-subtle" href="/html/mirror+frames.html">Mirrors | Frames
                        |
                        LED Mirrors</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-lato" href="/html/organizers.html">Organizers + Shelvings</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-lato bg-secondary-subtle" href="/html/wine-rooms.html">Wine Rooms</a>
                    </li>
                  </ul>
                </div>
                <a class="font-size-17 font-lato font-color-black text-decoration-none" href="/html/expertise.html" data-aos="fade-right">Expertise</a>
              </div>
            </div>

              <div class="col-12 col-md-4">
   <p class="font-size-24 font-color-black fw-bold text-center text-sm-start" data-aos="fade-right">Contractor's License #</p> 
    <div class="d-flex flex-column mt-4 gap-3 align-items-center align-items-sm-start">
      <a class="font-size-17 font-lato font-color-black text-decoration-none" >California 471010</a>
      <a class="font-size-17 font-lato font-color-black text-decoration-none" >Nevada 37382</a>
       <a class="font-size-17 font-lato font-color-black text-decoration-none" >Utah 14204227 - 5501</a>
   
    </div>
  </div>




            <div class="col-12 col-md-4">
              <p class="font-size-24 font-color-black fw-bold text-center text-sm-start" data-aos="fade-right">Stay Connected</p>
              <div class="d-flex flex-column mt-4 gap-3 align-items-center align-items-sm-start">
                <a class="font-size-17 font-lato font-color-black text-decoration-none"
                  href="https://maps.app.goo.gl/qkfWvqyXbiKCztmU9"
                  data-aos="fade-right">
                  501 Kettering Drive<br>
                  Ontario, CA 91761
                </a>
                <a class="font-size-17 font-lato font-color-black text-decoration-none"
                  href="/html/contact.html"
                  data-aos="fade-right">
                  Contact Us
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="d-none d-md-block max-width-1920 ">
        <div class="row footer-second-row pt-4  " >
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
            <p class="font-lato font-size-20 font-color-black" data-aos="fade-up">
              <span id="year"></span> | Larry Methvin Installations, Inc.
            </p>
          </div>

          <div class="col-12 col-sm-6">
            <div class="row ">
              <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                <a class="font-size-20 font-lato font-color-black text-decoration-none"
                  href="/html/privacy-policy.html"
                  data-aos="fade-up">
                  Privacy Policy
                </a>
              </div>
              <div
                class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start footer-terms-of-service-container">
                <a class="font-size-20 font-lato font-color-black text-decoration-none"
                href="/html/terms-and-conditions.html"
                data-aos="fade-up">
                Terms of Service
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="d-md-none max-width-1920">
        <div class="row gap-2 gap-sm-0 footer-second-row pt-4" >
          <div class="col-12 col-sm-6">
            <div class="row gap-2 gap-sm-0">
              <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                <a class="font-size-18 font-lato font-color-black text-decoration-none"
                  href="/html/privacy-policy.html">Privacy
                  Policy</a>
              </div>
              <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                <a class="font-size-18 font-lato font-color-black text-decoration-none"
                  href="/html/terms-and-conditions.html">Terms of Service</a>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
            <p class="font-lato font-size-18 font-color-black" data-aos="fade-right">
              <span id="year-mobile"></span> | Larry Methvin Installations, Inc.
            </p>
          </div>
        </div>
      </div>

      <a href="#top-page" onclick="event.preventDefault(); window.scrollTo({top: 0, behavior: 'smooth'});"
        class="arrow-up-icon">
        <img src="/assets/images/global/up-arrow.webp" alt="" class="arrow-up-image" data-aos="fade-zoom-in">
      </a>

    </div>
  </section>
