<nav class="navbar bg-white w-100 navbar-expand-xl p-3 fixed-top shadow-sm">
    <div class="container-fluid d-flex p-0 ">
      <a class="navbar-brand" href="/index.html">
        <img src="/assets/images/global/LMI-logo-blk-300dpi1.webp" class="w-100" alt="" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-end">
          <li class="nav-item">
            <a class="nav-link active fw-medium font-size-16 font-lato" aria-current="page" href="/html/about.html">ABOUT</a>
          </li>
          <li class="nav-item m-0 p-0">
            <div class="dropdown border-none specialty-dropdown">
              <a class="btn btn-secondary dropdown-toggle bg-transparent font-color-black font-lato font-size-16 border-0 "
                href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PRODUCTS
              </a>

              <ul class="dropdown-menu font-size-16 p-0 position-absolute rounded-0" >
                <li>
                  <a class="dropdown-item font-lato" href="/html/enclosures.html">Shower Enclosures</a>
                </li>
                <li>
                  <a class="dropdown-item font-lato bg-secondary-subtle" href="/html/wardrobe-doors.html">Wardrobe Doors</a>
                </li>
                <li>
                  <a class="dropdown-item font-lato" href="/html/room-dividers.html">Room Dividers</a>
                </li>
                <li>
                  <a class="dropdown-item font-lato bg-secondary-subtle" href="/html/mirror+frames.html">Mirrors | Frames |
                    LED Mirrors</a>
                </li>
                <li>
                  <a class="dropdown-item font-lato" href="/html/organizers.html">Organizers + Shelvings</a>
                </li>
                <li>
                  <a class="dropdown-item font-lato bg-secondary-subtle" href="/html/wine-rooms.html">Wine Rooms</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item m-0 p-0">
            <!-- EXPERTISE - Simple clickable link instead of dropdown -->
            <a class="nav-link fw-medium font-lato font-size-16" href="/html/expertise.html">
              EXPERTISE
            </a>
          </li>
          <li class="nav-item fw-medium">
            <a class="nav-link font-lato font-size-16" href="/html/contact.html">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
